:root {
  --primary-color: #1173d4;
  --secondary-color: #f0f7ff;
  --text-primary: #18181b;
  --text-secondary: #71717a;
}

body {
  min-height: max(884px, 100dvh);
}

.material-symbols-outlined {
  font-variation-settings:
    "FILL" 1,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
}
